body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}

header {
	height: 96px;
	background: white;
	border-bottom: solid 1px #ddd;
	flex-grow: 0;
	background: #f7f7f7;
	position: relative;
	overflow: hidden;
}
textarea, .CodeMirror {
	flex-grow: 1;
	background: white;
	cursor: text;
}

.animal {
	position: absolute;
	width: 131px;
	height: 96px;
	right: -131px;
	background-repeat: no-repeat;
	background-position: bottom center;
	transition-property: left, right;
  transition-duration: 10s;
  transition-timing-function: linear;
}

.animal.flipped {
	right: auto;
	left: -131px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
}

.cat {
	background-size: 98px 80px;
}

.corgi {
	background-size: 131px 96px;
}
